div.menu {
    margin: 0px;
    background-color: white;
    position: absolute;
    width: 215px;
    height: 919px;
    left: 0px;
    top: 0px;
    border: 2px solid #AAAAAA;
    padding-top: 10px;
}

div.home {
    margin: 10px;
}

div.pacientes {
    margin: 10px;
}

h2.home_menu {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    margin-right: 1210px;
    cursor: pointer;
    margin: 10px;
    display: inline;
}

h2.pacientes_menu {
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    margin-right: 1210px;
    cursor: pointer;
    margin: 10px;
    display: inline;
}

form {
    width: 250px;
    margin: auto;
    margin-top: 65px;
    margin-left: 270px;
    border: 2px solid gray;
    border-radius: 5px;
  }
  
input {
    padding: 6px 10px;
    border: 0;
    font-size: 16px;
}
  
.search {
    width: 92%;
}