* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2_278 {
    width: 100%;
    height: 971px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v2_432 {
    width: 215px;
    height: 919px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 48px;
    left: 4px;
    overflow: hidden;
  }
  .v2_637 {
    width: 215px;
    height: 48px;
    background: rgba(255,255,255,1);
    padding: 12px 16px;
    margin: 10px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_644 {
    width: 74px;
    height: 24px;
    background: rgba(255,255,255,1);
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 16px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v2_646 {
    width: 42px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 3px;
    left: 32px;
    font-family: Product Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_650 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 179px;
    overflow: hidden;
  }
  .v2_651 {
    width: 12px;
    height: 6px;
    background: url("../images/v2_651.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 6px;
    border: 2px solid rgba(17,17,17,1);
  }
  .v2_715 {
    width: 215px;
    height: 48px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 48px;
    left: 0px;
    overflow: hidden;
  }
  .v2_726 {
    width: 244px;
    height: 36px;
    background: url("../images/v2_726.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 1152px;
    overflow: hidden;
  }
  .v2_727 {
    width: 188px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 9px;
    left: 48px;
    font-family: Abel;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_570 {
    width: 215px;
    height: 48px;
    background: rgba(255,255,255,1);
    padding: 12px 16px;
    margin: 10px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_579 {
    width: 99px;
    height: 24px;
    background: rgba(255,255,255,1);
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 16px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v2_581 {
    width: 67px;
    color: rgba(6,78,232,1);
    position: absolute;
    top: 3px;
    left: 32px;
    font-family: Product Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_589 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 179px;
    overflow: hidden;
  }
  .v2_590 {
    width: 12px;
    height: 6px;
    background: url("../images/v2_590.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 6px;
    border: 2px solid rgba(6,78,232,1);
  }
  .v2_729 {
    width: 244px;
    height: 36px;
    background: url("../images/v2_729.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 1152px;
    overflow: hidden;
  }
  .v2_730 {
    width: 188px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 9px;
    left: 48px;
    font-family: Abel;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_732 {
    width: 244px;
    height: 36px;
    background: url("../images/v2_732.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 66px;
    left: 1152px;
    overflow: hidden;
  }
  .v2_733 {
    width: 188px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 9px;
    left: 48px;
    font-family: Abel;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_1149 {
    width: 919px;
    height: 762px;
    background: url("../images/v2_1149.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 206px;
    left: 240px;
    overflow: hidden;
  }
  .v2_1150 {
    width: 919px;
    height: 38px;
    background: rgba(122,161,245,1);
    padding: 8px 8px;
    margin: 24px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1151 {
    width: 19px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_1152 {
    width: 172px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 51px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_1153 {
    width: 172px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 247px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_1154 {
    width: 120px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 443px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_1155 {
    width: 150px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 587px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_1156 {
    width: 150px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8px;
    left: 761px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v2_1157 {
    width: 919px;
    height: 64px;
    background: rgba(255,255,255,1);
    padding: 12px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 38px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1158 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 12px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1159 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 12px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1160 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 12px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v66_147 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 12px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1162 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 12px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1163 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 12px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1164 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 102px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1165 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1166 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1167 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1168 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1169 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1170 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1171 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 170px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1172 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1173 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1174 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1175 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1176 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1177 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1178 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1179 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1180 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1181 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1182 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1183 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1184 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1185 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 306px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1186 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1187 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1188 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1189 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1190 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1191 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1192 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 374px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1193 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1194 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1195 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1196 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1197 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1198 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1199 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 442px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1200 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1201 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1202 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1203 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1204 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1205 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1206 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 510px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1207 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1208 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1209 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1210 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1211 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1212 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1213 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 578px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1214 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1215 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1216 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1217 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1218 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1219 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1220 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 646px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1221 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1222 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1223 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1224 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1225 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1226 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1227 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 714px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1228 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1229 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1230 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1231 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1232 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1233 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1234 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 782px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1235 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1236 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1237 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1238 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1239 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1240 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1241 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 850px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1242 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1243 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1244 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1245 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1246 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1247 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1248 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 918px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1249 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1250 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1251 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1252 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1253 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1254 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1255 {
    width: 919px;
    height: 68px;
    background: rgba(255,255,255,1);
    padding: 14px 8px;
    margin: 24px;
    opacity: 1;
    position: absolute;
    top: 986px;
    left: 0px;
    overflow: hidden;
  }
  .v2_1256 {
    width: 19px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1257 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 51px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1258 {
    width: 172px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 247px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1259 {
    width: 120px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 443px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1260 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 587px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v2_1261 {
    width: 150px;
    color: rgba(118,118,118,1);
    position: absolute;
    top: 14px;
    left: 761px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }